@charset "UTF-8";
*{ padding:0; margin:0; text-decoration:none; list-style:none; box-sizing:border-box; }
.section{ width:100%; position:relative; float:left; }
.section > .container{ width:1200px; position:relative; margin:0 auto; }
.container > div{ width:100%; float:left; }

/* top */
#top{ padding:11px 0; background:#151515; color:#999999; }
#top .left{ float: left; }
#top .right{ float:right; }
#top .right ul > li{ float:left; padding:0 15px; border-right:solid 1px #999999; }
#top .right ul > li:last-child{ border:none; }

/* header */
#header{ padding:20px 0; border-bottom:1px solid #f5f5f5; }
#header .container > div{ display:flex; align-items:center; flex-wrap: wrap }
#header .container > div > div{  width:33.3334%;  }
#header .container > div > div > *{ display:inline-block; vertical-align:middle; }
#header .mail{ text-align:left; }
#header .logo{ text-align:center; }
#header .shopping_cart{ text-align:right; }


/* menu */
#menu{ border-bottom:solid 1px #f5f5f5; }
#menu ul li { float:left; padding:15px 20px;  font-size:14px; color:#787878; }

/* visual */
#visual{ background:url('/jewellery/com/yju/2wda/kyh/controller/images/visual.png')center center /cover; height:700px; }

/* products */

#products{ padding:40px 0; text-align:center; }

#products .title{ color:#232323; font-size:28px; padding:10px 0; }
#products .category{ padding:20px 0; }
#products .category > ul{ display:flex; justify-content: center }
#products .category > ul > li{ padding:15px 20px;  color:#151515;  }
#products .category > ul > li.active{ background:#fae4df; font-weight:bold; }
#products .products > ul{ display:flex; flex-wrap: wrap; }
#products .products > ul > li{ width:25%; padding-bottom:30px; }

#collection_controller > div > div{ display:flex; align-items:center; padding:15px 30px; background:#f5f5f5; }
#collection_controller > div > div > div{ width:50%; }

#collection_controller .layout > ul{ display:flex; }
#collection_controller .layout > ul > li.l_type_1{ width:24px; }
#collection_controller .layout > ul > li.l_type_2{ width:30px; height:30px; }
#collection_controller .layout > ul > li.l_type_3{ width:30px; }
#collection_controller .layout > ul > li.l_type_4{ width:30px; }
#collection_controller .layout > ul > li.l_type_4 .icon{ transform: rotate(90deg); }
#collection_controller .icon{ width: 30px; height: 30px; fill:#c7c7c7; cursor:pointer; }
#collection_controller .active .icon{ fill:#6f6f6f; }
#collection_controller .type_text{ margin-left:10px; line-height:30px; font-size:14px; letter-spacing: .8px; color: #323; }
#collection_controller .sorting label{ line-height:30px; font-size:14px; letter-spacing: .8px; color: #323; }

#collection_controller .sorting{ text-align: right; }
#collection_controller #SortBy{ min-width:302px; height:2.5rem; background:#ffffff80; color:#acaaa6; border:1px solid rgba(0,0,0,.1); padding: 0 15px; }



/* product page */
#productPage{ padding:50px 0; }
#productPage .pr_page_wrap{ display:flex;  }
#productPage .pr_page_wrap > li{ width:50%; }
#productPage .leftImg{ text-align: center; }
#productPage .leftImg img{ width:400px; height:530px; object-fit: cover; border:solid 1px #f5f5f5;  }

#productPage .rightText{ color:#232323; }
#productPage .rightText > *{ width:100%; float: left; padding:20px 0; }
#productPage .rightText .title{ margin-bottom: 20px; font-weight:400; font-size:26px; line-height: 1.1; letter-spacing: .5px; }
#productPage .rightText .price{ font-weight:500; font-size:20px; }
#productPage .rightText .ea{ font-weight:500; font-size:20px; }
#productPage .rightText button{ padding: 15px 20px; width:45%; background:#fae4df; color:#151515; border:none; letter-spacing: .5px; }

/* order area */
#order{ text-align: left; margin-bottom: 40px; }
#order > div > div{ border:solid 2px #f5f5f5; border-radius:5px; padding-bottom:30px;}
#order .title_bar{ background:#999999; padding:10px 15px; color: #f5f5f5; font-size:20px; letter-spacing: .9px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#order .title_input{ padding:20px 30px; }
#order .title_text{ font-size:23px; font-weight:600; }
#order .title_input ul{ display:flex; flex-wrap:wrap; }
#order .title_input .w50{ width:50%; margin:10px 0; }
#order .title_input .w100{ width:100%; margin:10px 0; }

#order .title_input .w100 input[type="text"], #order .title_input .w100 input[type="number"]{ width:95%; }

#order .title_input label{ width:100%; float:left; }
#order .title_input label[for="home"], #order .title_input label[for="business"], #order .title_input label[for="zip"]{ width:auto; float:none; }
#order .title_input input[type="text"], #order .title_input input[type="number"]{ width:90%; height:35px; border:none; border:solid 1.5px #e5e5e5; border-radius:5px; padding-left:10px; }


#order .title_res{ padding:0 30px; }
#order .title_res ul{ background: #f1f1f1; border:solid 1.5px #e5e5e5; padding:20px 250px;  }

.rating-active:before {
    content: "\2605";
    position: absolute;
 }
 .rating {
   display: inline;
   margin-left: 10px;
   margin-top: 10px;
   float:right;
 }
 .rating > span {
   display: inline-block;
   position: relative;
   width: 1.1em;
 }
 
 /* login & join */
 #user_c > div > div{ display:flex; }
 #user_c .login{ width:46% }
 #user_c .login{ width:46% }